.feedCountBarChart {
  background-color: #1c2754;
  height: 300px !important;
  width: 415px !important;
  border-radius: 10px;
  margin: 0px;
}
@media (min-width: 1024px) {
  .feedCountBarChart {
    width: 100% !important;
    height: 100% !important;
  }
}
